/* RESET CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
    border: none;
}

h1,
h2,
h3 {
    text-transform: capitalize;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
    gap: 30px;
    /* max-width: 1200px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-card {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    background-color: #fefefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 15px;
    padding-top: 10px;
    cursor: pointer;
}

.product-wishlist {
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.3s ease;
}

.heart-icon:hover,
.heart-icon.active {
    color: red;
    filter: drop-shadow(0 0 10px rgba(216, 21, 21, 0.8));
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h2 {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card .price {
    font-size: 1rem;
    margin-bottom: 10px;
}

.product-card .description {
    color: rgba(84, 82, 82, 0.5);
}

.product-card .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.quantityButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.custom-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    transition: all 0.5s ease;
}

.custom-button:hover {
    flex: 1;
    border-radius: 5px;
}

.custom-button:hover:after {
    margin-left: 5px;
    content: 'Add to cart';
}

/* FOOTER CSS */

.footer ul {
    padding-left: 5px;
}

.footer a {
    display: inline-block;
    padding: 5px 10px;
    padding-left: 0;
}

/* Hiệu ứng Animation cho Hover link (FOOTER)*/
.hover-effect {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.hover-effect::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.hover-effect:hover::after {
    width: 100%;
}
.des {
    margin-left: 30px;
}

/*Detail*/
.btnSize {
    height: 40px;
    width: 40px;
    background-color: gray;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
}
.d_price {
    font-size: 30px;
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

.btnChange {
    height: 40px;
    width: 40px;
    font-size: 25px;
    border: none;
    background-color: #6987f4;
}
.btnAddToCart {
    background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
    color: white;
    height: 50px;
    width: 150px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
.number {
    font-size: 20px;
    margin: 10px;
}
.card {
    cursor: pointer;
}
/*Cart*/
.btnDlt:hover {
    background-color: red !important;
    color: white !important;
    border: none;
}
.btnSubmit:hover {
    background-color: rgb(255, 136, 0) !important;
    color: white !important;
    border: none;
}
.btnSubmit,
.btnDelete {
    margin-left: 10px;
}
.btnDelete {
    margin-right: 10px;
}
.btnDelete:hover {
    background-color: red !important;
    color: white !important;
    border: none;
}
